version: "3.2"

services:
  launch:
    container_name: launch
    image: kylinnetwork/kylin-node:main
    ports:
      - "30330-30345:30330-30345"
      - "9933-9960:9933-9960"
    command: bash -c "polkadot-launch kylinPolkadotLaunchConfig.json"
    volumes:
      - ./kylin_db/cumulus_relay:/cumulus_relay/
      - ./kylinPolkadotLaunchConfig.json:/kylinPolkadotLaunchConfig.json
       
  insert-ocw:
    container_name: insert-ocw
    image: kylinnetwork/kylin-node:main
    command: bash -c "sleep 600 && /insert_alice_key.sh"
    depends_on:
      - launch

  frontend:
    container_name: frontend
    image: kylinnetwork/kylin-node:main
    ports:
      - "3001:3001"
    command: bash -c "cd /builds/apps/packages/apps && serve -p 3001 build"

  kylin-es:
    container_name: kylin-es
    image: docker.elastic.co/elasticsearch/elasticsearch:7.8.1
    environment:
      - discovery.type=single-node
    volumes:
      - es-data:/usr/share/elasticsearch/data

  kylin-kibana:
    container_name: kylin-kibana
    ports:
      - "5601:5601"
    image: docker.elastic.co/kibana/kibana:7.8.1
    environment:
      ELASTICSEARCH_HOSTS: http://kylin-es:9200
    depends_on:
      - kylin-es

  init-es-index:
    container_name: init-es-index
    image: kylinnetwork/kylin-node:main
    environment:
      ES_HOST: http://kylin-es:9200
      ES_INDEX_NAME: kylin_access_tracking
      KIBANA_HOST: http://kylin-kibana:5601
    command: /bin/bash -c "sleep 60 && /init_es_index.sh"
    depends_on:
      - kylin-es
      - kylin-kibana

  init-kibana-dashboard:
    container_name: init-kibana-dashboard
    image: kylinnetwork/kylin-node:main
    environment:
      ES_HOST: http://kylin-es:9200
      ES_INDEX_NAME: kylin_access_tracking
      KIBANA_HOST: http://kylin-kibana:5601
    command: /bin/bash -c "sleep 120 && /init_kibana_dashboard.sh"
    depends_on:
      - kylin-es
      - kylin-kibana
volumes:
  es-data:
    driver: local


